@import "../base/vars";


.encabezado {
    top: 0%;  
  }

  .principal {
    background-color: $verde-medio;
    margin-top: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .descripcion {
    color: $verde-claro;
    font-size: 1.5em;
    width: 70%;
    text-align: justify;  
    font-weight: bolder;
    padding-top: 2em;
  }
  
  .gal_index {

    width: 80%;
    margin-top: 3em;

    .img {  
      border: solid 3px $naranja;
      border-radius: 2em;  
    }

    .iframe {        
      text-align: center;  
      margin-top: 4em;
      border: solid 3px $naranja;
      border-radius: 2em;
      margin-bottom: 2em;
    }
  }  

  .pie_de_pag {
    background-color: $verde-fuerte;
    text-align: center;
    padding-top: 0.5em;

    p {
        font-size: 1.5em;
        color: $verde-claro;
      }

      .redes{
         a{ 
            img {
        height: 50px;
        width: 50px;
      }
    }
    }   
  }

  .selector {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: $verde-claro;

    img {
        height: 10em;
        width: 10em;
      }
  }
  
  
  .filtros {
    background-color: $naranja;
    color: $verde-fuerte;
    padding: 2em;
  }

  .navegador {
    width: 100%;
  }
  
  .promociones_y_beneficios img {
    width: 100%;
  }

  
  
  
  
 