@import "../base/vars";

.navbar{
    .menu_nombre{
        display: flex;
        align-items: center; 
        margin-left: 40%;
        margin-right: 40%;
      }

      .navbar_ppal{
        background-color: $verde-fuerte;

        .menu_titulo{
          text-decoration: none;
        }
      }

      
      .menu_logo{
        background-color: #406651;

        &:hover{
            background-color: $verde-medio;
        }

        img{
            height: 5em;
            width: 5em;
        }
      }

      .menu_desplegable{
        background-color: $verde-fuerte;

        &:hover{
            background-color: $verde-medio;
        }
        }

        li{
            a{
                color: $verde-claro;
            }
        }

        .menu_sec{
            display: flex;
            justify-content: space-around;
            align-items: center;
          }
          
          .btn_buscar{
             border:solid 0.3em $naranja;
             color: $verde-claro;
          }
          
          .tb_buscar{
            border: solid 0.3em $naranja;
          }
          
          .menu_iconos{

            img{
            width: 3em;
            height: 3em;
            }
        }

}

  
  
  
  
 
  

  
  