@import url('https://fonts.googleapis.com/css2?family=Cairo+Play:wght@200..1000&display=swap');

$verde-claro: #1EE4E6;
$verde-medio: #438F91;
$verde-fuerte: #3C4D86;
$azul-clarito: #18ACDB;
$naranja: #E6691E;
$amarillo: #E69E1E;
$fuente-gral: "Cairo Play", sans-serif;



